/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  background: rgb(50,50,50);
  color: white;
  padding: 10px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
